
@font-face {
    font-family: caps;
    src: url(../fonts/caps.ttf)
}
@font-face {
    font-family: normal-bold;
    src: url(../fonts/normal-bold.ttf)
}
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: normal;
}
body {
    max-width: 1084px;
    margin: 0 auto;
    overflow-x: hidden;
}
header, ul {
    display: flex;
    font-family: caps;
}
header {
    height: 60px;
    justify-content: space-between;
    align-items: center;
}
.header-navigation {
    width: 214px;
    justify-content: space-between;
}
.burger {
    width: 20px;
    height: 20px;
    background-color: #181818;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.burger__item {
    display: block;
    width: 10px;
    height: 2px;
    border-radius: 1px;
    background-color: #fff;
    margin: 1px 0;
}
a {
    color: #181818;
    transition: 300ms color ease;
}
a:hover {
    color: #BADC58;
    transition: 300ms color ease;
}
.more {
    background-color: #BADC58;
}
.more:hover {
    background-color: white;
}
.header-navigation a,h1,h2,h3, address {
    font-family: normal;
}
.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.hero-content {
    height: calc(100vh - 60px);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
}
.hero::before {
    content: '';
    display: block; 
    position: absolute;
    top: 60px;
    bottom: 0;
    left: 0; 
    right: 0;
    background: #181818;
    opacity: 0.6;
    z-index: -1;
}
.hero_img {
    position: absolute;
    top: 60px;
    height: calc(100vh - 60px);
    width: 100%;
    z-index: -2;
    left: 0;
    object-fit: cover;
}
h1 {
    margin-bottom: 13px;
    font-family: normal;
    font-weight: normal;
    text-align: center;
}
.hero-content p {
    font-weight: bold;
    width: 300px;
    text-align: center;
    font-weight: normal;
}
.hero::after {
    content: url(../image/basil.png);
    position: absolute;
    right: -900px;
    bottom: -400px;
    z-index: 1;
}
.add, .more {
    border: 1px solid #BADC58;
    font-size: 14px;
    padding: 13px 48px 14px 48px;
    border-radius: 10px;
}
.add {
    color: #BADC58;
}
.add:hover {
    background-color: #BADC58;
    color: #181818;
}
.down {
    font-size: 10px;
    font-weight: bold;
    font-family: sans-serif;
    flex-direction: column;
    align-items: center;
    color: white;
    position: absolute;
    bottom: 112px;
}
.down::after {
    content: url(../image/down.png);
    margin-top: 22px;
}
.menu {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16); 
    background-color: #fff;
    position: relative;
}
.menu::before {
    content: '';
    background-color: white;
    width: 100%;
    position: absolute;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.menu::after {
    content: '';
    display: block;
    width: 100%;
    position: absolute;
    background-color: #fff;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.menu_title {
    text-align: center;
    width: 100%;
}
.pastas {
    flex-wrap: wrap;
    justify-content: space-around;
}
.added {
    background-color: #ECF0F1;
    border-color: #ECF0F1;
    color: #BDC3C7;
    cursor: not-allowed;
    padding: 13px 31px 14px 31px;
}
.pasta {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
    padding: 29px;
    box-sizing: border-box;
    transition: box-shadow 300ms ease, -webkit-box-shadow 300ms ease;
    z-index: 1; 
}
.pasta:hover {
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
}
.pasta img {
    width: 232px;
    height: 225px;
    object-fit: cover;
    margin-bottom: 32px;
    padding: 12px;
}
.pasta h3 {
    margin-bottom: 8px;
    font-size: 16px;
    color: #181818;
    text-align: center;
}
.pasta p {
    margin-bottom: 21px;
    font-size: 10px;
    color: #535C68;
}
footer {
    position: relative;
    height: 500px;
    padding-bottom: 25px;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    box-sizing: border-box;

}
footer::before {
    content: url(../image/basil.png);
    position: absolute;
    top: -330px;
    left: -1000px;
    z-index: -1
}
footer::after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    background-color: #292C2F;
    height: 100%;
    width: 100vw;
    z-index: -1;
}
.contact {
    width: 100%;
    background-color: #fff;
    border-radius: 20px;
    margin-bottom: 20px;
    padding: 22px; 
    box-sizing: border-box;
}
address, .contact a {
    font-style: normal;
    font-family: normal;
    color: #F59A63;
}
.map {
    border-radius: 20px;
    overflow: hidden;
    margin-bottom: 31px;
    width: 100%;
}
.footer_icons {
    justify-content: space-between;
    width: 100%;
    align-items: baseline;
}
.socials {
    display: flex;
    justify-content: space-evenly;
    width: 127px;
}
.socials a {
    height: 24px;
}
.socials svg {
    height: 100%; 
}
.socials path {
    fill: white;
    transition: 0.3s ease;
}
.socials a:hover path {
    fill: #BADC58;
    transition: 0.3s ease;
}
@media only screen and (min-width: 0px){
    body {
        width: calc(100% - 40px);
    }
    .pasta {
        width: calc(100% - 20px);
    }
    h1 {
        font-size: 20px;
    }
    .hero::after {
        visibility: hidden;
    }
    footer {
        padding-top: 40px;
    }
    .contact {
        display: flex;
        flex-direction: column;
        align-items: center; 
    }
    address, .contact a {
        font-size: 12px;
        text-align: center;
    }
    .footer_icons {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center; 
        height: 150px; 
    }
    .academy-logo {
        order: 3;
    }
    .burger {
        display: flex;
    }
    nav{
    	display: none;
    }
    .down {
        display: none;
    }
    .more {
        margin-bottom: 41px; 
    }
    .menu::before {
        height: 24px ;
        top: -23px;
    }
    .menu::after {
        height: 24px ;
        bottom: -23px;
    }
    .hero-content p {
        margin-bottom: 33px;
        font-size: 12px;
    }
}
@media only screen and (min-width:680px) {
    .pasta {
        width: calc(50% - 20px);
    }
    h1 {
        font-size: 25px;
    }
    .hero::after {
        visibility: visible;
    }
    .contact {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    } 
    address, .contact a {
        font-size: 16px;
    }
    .footer_icons {
        display: flex;
        flex-direction: row;
        height: 20px;
    }
    .academy-logo {
        order: 0;
    }
    .burger {
        display: none;
    }
    nav{
    	display: flex;
    }
}
@media only screen and (min-width: 850px) {
    h1 {
        font-size: 50px;
    }
    .pasta {
        width: calc((100% / 3) - 20px);
    }
    .down {
        display: flex;
    }
    .more {
        margin-bottom: 91px; 
    }
    .menu::before {
        height: 54px ;
        top: -53px;
    }
    .menu::after {
        height: 54px ;
        bottom: -53px;
    }
    footer {
        padding-top: 100px;
    }
    .hero-content p {
        margin-bottom: 53px;
        font-size: 14px;
    }
}
