
@font-face {
    font-family: caps;
    src: url(../fonts/caps.ttf)
}
@font-face {
    font-family: normal-bold;
    src: url(../fonts/normal-bold.ttf)
}
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: normal;
}
body {
    max-width: 1084px;
    margin: 0 auto;
}
header, ul {
    display: flex;
    font-family: caps;
}
header {
    height: 60px;
    justify-content: space-between;
    align-items: center;
}
.header-navigation {
    width: 214px;
    justify-content: space-between;
}
.burger {
    display: none;
}
a {
    color: #181818;
    transition: 300ms color ease;
    font-family: caps;
   
}
a:hover {
    color: #BADC58;
    background-color: white;
    transition: 300ms color ease;
}
a,h1,h2,h3,address {
    font-family: normal;
}
.hero {
    height: calc(100vh - 60px);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    color: white;
}
.hero::before {
    content: '';
    display: block; 
    position: absolute;
    top: 60px;
    bottom: 0;
    left: 0; 
    right: 0;
    background: #181818;
    opacity: 0.6;
    z-index: -1;
}
.hero_img {
    position: absolute;
    top: 60px;
    height: calc(100vh - 60px);
    width: 100%;
    z-index: -2;
    left: 0;
    object-fit: cover;
}
.hero-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
h1 {
    margin-bottom: 10px;
    font-size: 50px;
    font-family: normal;
}
.hero-content p {
    margin-bottom: 52px;
    font-size: 14px;
    font-weight: bold;
}
.button {
    border: 1px solid #BADC58;
    background-color: #BADC58;
    font-size: 14px;
    padding: 13px 52px 14px 52px;
    border-radius: 10px;
    margin-bottom: 91px;
}
.down {
    font-size: 10px;
    font-weight: bold;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 45px;
    color: white;
}
.down:hover {
    background: none;
}
.main_section ul {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.main_section h2 {
    font-size: 30px;
    margin-top: 47px;
    margin-bottom: 40px;
    text-align: center;
}
.main_section li {
    height: 452px;
    width: 308px;
}
.main_section h3 {
    margin-top: 60px;
    font-size: 16px;
}
.main_section p {
    margin-top: 5px;
    margin-bottom: 20px;
    font-size: 10px;
    font-weight: bold;
}
.main_section .button {
    padding: 13px 48px 14px 48px;
}

